.list-users{  
  
  &__switch {
    width: 100%;
    // margin-bottom: 20px;

    > button, > span {
      margin: 10px;
    }    

  }
  
  .users-active{ 
    background-color: #fff;     
    padding: 10px 10px 10px 0;

  }
  
}

.ant-list-item-meta {  
        
  &-avatar {
    justify-self: center;
    align-self: center;   
    padding: 10px;
  }

  &-content {
    display: flex;
    flex-direction: column;
    justify-items: center;
  }

}