@import "../../../scss/index.scss";

.login-form {
  .ant-form-item:last-of-type{
    margin: 0;
    padding: 0;    
  }
  &__input {
    .ant-input-prefix{
      svg {
        font-size: 0em + 20px / $defFontSize;
      }
    }
    input {
      font-size: 0em + 20px / $defFontSize;
      padding: 5px 20px 5px 40px !important;
      &:focus {
        border-color: $prim-color;
        box-shadow:none;
      } 
    }
  }
  &__button {
    width: 100%;
    font-size: 0em + 22px / $defFontSize;
    background-color: $prim-color;
    color: $font-light;
    height: 42px;
    border-radius: 5px;
    margin-top: 20px;

    &:hover {
      background-color: $prim-color-hover;
      color: $font-light;
    }

    &:focus, &:active {
      background-color: $prim-color;
      color: $font-light;
      border: 0;      
    }
  }
}