@import "../../../scss/index.scss";


.menu-top {
  display: flex;  

  Button {
    font-size: 32px;       
    background-color: transparent;
    color: $font-light;
    border: none;
    &:hover {
      color: $prim-color;
    }
    &:focus, &:active {
      color: $font-light;
    }
  }

  &_logo {
    width: 60px;
    height: 60px;
  }

  &_right {
    position: absolute;
    right: 10px;
  }

}