@import "../../../scss/index.scss";

.sign-in {
  background-image: url("../../../assets/img/jpg/2266.jpg");
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;

  &__content{
    display: flex;
    flex-direction: column;
    align-items: center;
    min-height: 100vh;

    &-logo {
      background-color:transparent;      
      padding: 60px 20px;
      img{
        width: 100px;
        height: 100px;       
      }
    }

    &-tabs {
      background-color: $bkg-light;

      .ant-tabs {
        width: 90vw;

        @media (min-width: $media-bkp-up-lg) {
          width: auto;
        }
      }

      .ant-tabs-nav-container {
        height: 60px !important;     
      }

      .ant-tabs-nav {
        width: 100%;
      }

      .ant-tabs-tab {
        width: 50px;
        height: 60px !important;
        text-align: center;
        font-size: 0em + 14px / $defFontSize;
        border-top: 4px solid $border-grey !important;
        border-radius: 0 !important;
        margin: 0 !important;
        @media (min-width: $media-bkp-up-lg) {
          width: 220px;
          font-size: 0em + 19px / $defFontSize; 
        }        

        // span {
        //   height: 100%;            
        // }        

      }

      .ant-tabs-tab-active {
        color: $prim-color;
        border-top: 4px solid $prim-color !important;
        border-radius: 0 !important;
        border-right: 0 !important;
        border-left: 0 !important;
      }

      .ant-tabs-tab, .ant-tabs-tab-active {
        display: flex; 
        align-items: center;
        justify-content: center; 
        &:hover {
          color: $font-grey;          
        }
        &:before {
          content: none;
        }
      } 

      .ant-tabs-content {
        padding: 0 16px 16px 16px;
        text-align: center;        
      }
    }
  }
}