@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300&display=swap');
// @import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;1,200&display=swap');

$prim-FontType: Montserrat;
// $prim-FontType-ital: Montserrat italic;

$defFontSize: 16px;

$prim-color: #0098d3;
$prim-color-hover: #0280b3;

$menu-color: #252527;

$font-light: #fff;
$font-grey-light: #e8e8e8;
$font-grey: #808080;
$font-grey-dark: #333;
$font-grey-dark: #595959;
$font-dark: #000;

$border-light: #fff;
$border-grey-light: #e8e8e8;
$border-grey: #808080;
$border-grey-dark: #595959;
$border-dark: #252527;
$border-dark-light: #000;

$bkg-light: #fff;
$bkg-grey-light: #e8e8e8;
$bkg-grey: #808080;
$bkg-grey-dark: #595959;
$bkg-dark: #252527;
$bkg-dark-light: #ff001f;
$bkg-error: #f2d7d5;
$bkg-success: #d0f2eb;

$success: #1f640a;
$error: #C00000;

//Breackpoints down size

$media-bkp-down-xs: 413.98px;
$media-bkp-down-sm: 573.98px;
$media-bkp-down-md: 767.98px;
$media-bkp-down-lg: 991.98px;
$media-bkp-down-xl: 1199.98px;

//Breackpoints up size

$media-bkp-up-xs:320px;
$media-bkp-up-sm:576px;
$media-bkp-up-md:768px;
$media-bkp-up-lg:992px;
$media-bkp-up-xl:1200px;



